
/*Mobile*/
h1{
    color: chocolate;
    font-family: fantasy;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid chocolate;
    border-right: 1px solid red;
    width: 100%;
    box-shadow: 4px 4px 5px chocolate;
    margin-top: 10px;


}
body{
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: chocolate;
    text-align: center;


}
.grid-container{
    border-radius: 12px;
    padding: 5px;
    background-color: chocolate;
    text-align: center;
    margin: auto auto 70px auto;
    color: black;


}
.img-responsive{
    width: 100%;
}

/*Tablet*/
@media screen and (min-width: 768px) {
    h1 {
        color: orange;
        border-bottom: 1px solid orange;
        border-right: 1px solid burlywood;
        box-shadow: 4px 4px 5px orange;
    }
    .grid-container{
        background-color: goldenrod;
    }
    .img-responsive{
        width: 100%;
    }
}

/*Desktop*/
@media screen and (min-width: 1100px) {
    h1 {
        color: darkred;
        border-bottom: 1px solid darkred;
        border-right: 1px solid blue;
        box-shadow: 4px 4px 5px darkred;
    }

    .grid-container {
        width: 70%;
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        background-color: brown;

    }

    .image-width {
        width: 75%;
        display: grid;
        margin: auto;
    }
}