:root {
  --dark-primary-color: #008981;
  --primary-color: #007c75;
  --primary-color-tow: #18a965;
  --primary-background-color: #e9ebed;
  --secondary-background-color: #49aba7;
  --secondary-color: #edc54d;
  --secondary-color-tow: #026d65;
  --secondary-color-three: #045d48;

}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: var(--dark-primary-color);
}
h2 {
  color: var(--primary-color-tow);
}
h3 {
  color: var(--secondary-color);
}


